<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282248067698-skch2gq825n9oaeg9cji635suc47k9un.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282248067698-skch2gq825n9oaeg9cji635suc47k9un</string>
	<key>API_KEY</key>
	<string>AIzaSyB2msOk5GuUEbZMpX31IFJMfzRtyWjvN6c</string>
	<key>GCM_SENDER_ID</key>
	<string>282248067698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ai.memorize.memorize-ai</string>
	<key>PROJECT_ID</key>
	<string>memorize-ai-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>memorize-ai-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:282248067698:ios:927184374a14dfc33860eb</string>
	<key>DATABASE_URL</key>
	<string>https://memorize-ai-dev.firebaseio.com</string>
</dict>
</plist>
